<div class="container row">
  <div class="col-md-12">
      <h1>Upload Image</h1>
  </div>
</div>
<div class="container row">
  <div class="col-md-6">
      <input type="file" (change)="onFileChanged($event)">
  </div>
  <div class="col-md-6">
      <input type="button" (click)="onUpload()" value="upload">
  </div>
</div>
<hr />
<div class="container row">
  <div class="col-md-12">
      <div *ngIf=message>{{message}}</div>
  </div>
</div>
<div class="container row">
  <div class="col-md-6">
      <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName"
          name="name" />
  </div>
  <div class="col-md-6">
      <input type="button" (click)="getImage()" value="Get Image">
  </div>
</div>
<div class="container row">
  <div class="col-md-12">
      <div *ngIf=retrievedImage>
          <img [src]="retrievedImage"  style="height: 180px; width:150px">
      </div>
  </div>
</div>



<hr>

<mat-card class="example-card">


  <img mat-card-image [src]="retrievedImage" style="height: 180px; width:150px">


  <mat-card-actions>
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
  </mat-card-actions>


</mat-card>
<input type="file" style="display: none" accept="image/*" (change)="onFileChanged($event)" #imageFile>


<hr>



<mat-card class="example-card">

  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" style="height: 180px; width:150px">

  <mat-card-actions>
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
  </mat-card-actions>
</mat-card>





<!--
<mat-grid-list cols="4" rowHeight="100px">

  <mat-grid-tile [colspan]="3" [rowspan]="1"  style="background-color: lightblue">
    <div class="col-md-4">

      <mat-form-field >
        <mat-label> SamagraId </mat-label>
        <input matInput type="number"  id="SamagraId">
      </mat-form-field>

    </div>
    <div class="col-md-4">

      <mat-form-field >
        <mat-label> SamagraId </mat-label>
        <input matInput type="number"  id="SamagraId">
      </mat-form-field>

    </div>
    <div class="col-md-4">

      <mat-form-field >
        <mat-label> SamagraId </mat-label>
        <input matInput type="number"  id="SamagraId">
      </mat-form-field>

    </div>
  </mat-grid-tile>


  <mat-grid-tile
  [colspan]="1"
  [rowspan]="2"
  style="background-color: red">
 <h2 > image</h2>
</mat-grid-tile>



<mat-grid-tile
[colspan]="1"
[rowspan]="1"
style="background-color: red">

<mat-form-field >
  <mat-label> f/m expired </mat-label>
  <input matInput type="number"  id="SamagraId">
</mat-form-field>
</mat-grid-tile>


<mat-grid-tile [colspan]="2" [rowspan]="1" style="background-color: red">

<div class="col-md-6">

  <mat-form-field >
    <mat-label> SamagraId </mat-label>
    <input matInput type="number"  id="SamagraId">
  </mat-form-field>

</div>

<div class="col-md-6">

  <mat-form-field >
    <mat-label> SamagraId </mat-label>
    <input matInput type="number"  id="SamagraId">
  </mat-form-field>

</div>

</mat-grid-tile>

</mat-grid-list> -->

